@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;600&display=swap");
 

  body {
  margin-right: 10%;
  margin-left: 10%;
    background:#202020;
direction: rtl;
  font-family: "Vazirmatn", sans-serif;

  margin-top: 20px;
  margin-bottom: 0px;


  }

header {
    border-radius: 5px;
  text-align: center;

padding-top: 40px;
  margin-bottom: 20px;
background-color:#273b92;
}
.header-logo {

  width: 30%;

}
.hero {
    border-radius: 5px;
margin-top: 20px;
  padding: 10px 40px;
  text-align: center;
background-color: #fff;
    box-shadow: 0 3px 10px #0001;

}


  ul {
    list-style: none;


padding: 0px;
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  } 

 ul.fcards {

    grid-template-columns: repeat(1, 1fr);

  }
 ul.x {

    grid-template-columns: repeat(8, 1fr);

  }

.profile-card {
  width: auto;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 8px 22px rgba(0,0,0,0.15);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(255,255,255,0.2);
  position: relative;
  overflow: hidden;
}
.profile-card {
  width: auto;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  color: #fff;

  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;

  backdrop-filter: blur(14px) saturate(180%);
  -webkit-backdrop-filter: blur(14px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.18);
  box-shadow:
      inset 0 0 20px rgba(255,255,255,0.07),
      0 8px 22px rgba(0,0,0,0.18);

  position: relative;
  overflow: hidden;
}

/* هایلایت شیشه */
.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom right,
      rgba(255,255,255,0.15) 0%,
      rgba(255,255,255,0.03) 40%,
      rgba(255,255,255,0) 80%
  );
  pointer-events: none;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 16Px;
  object-fit: cover;
  margin-bottom: 12px;
}

.name {
  margin: 0px 0px;
  font-size: 24px;
}

.insta {
direction: ltr;
  font-size: 14px;
  opacity: .6;

}

.follow-btn {
  padding: 12px 45px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
text-shadow: 0 6px 8px rgba(0,0,0,0.5);
  background: linear-gradient(270deg, #fdf497, #fd5949, #d6249f, #285AEB);
  background-size: 800% 800%;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  transition: all 0.4s ease;
  animation: gradientMove 8s ease infinite;
}

.follow-btn:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  opacity: 1;
}

@keyframes gradientMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 0.7rem;

  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .2s ease;
}

a:active {
  opacity: 0.5;
}

  @media (max-width: 768px) {

 body {
  margin: 0%;

}

.header-logo {
  width: 100%;
}

.hero {

  padding: 10px 10px;
  text-align: center;
background-color: #fff;
    box-shadow: 0 3px 10px #0001;
}
    ul {
    grid-template-columns: repeat(2, 1fr);

    }

    ul.x {
    grid-template-columns: repeat(4, 1fr);
padding: 10px;
    }
  }




  .card {
transition: .25s;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 10px #0001;
  }

.card:hover {
  transform: translateY(-10px) ;
  opacity: .6;
}

  .card .img-box {
    width: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
  }


  .card .content {
    padding: 10px 10px;
  text-align: center;
  }

  .fcard {
transition: .25s;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;

  }



  .fcard .img-box {
    width: 100%;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
  }

  .fcard .content {
    padding: 15px 15px;
  }
  .title {
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 800;
  }

  .subtitle {
    font-size: 14px;
    opacity: .7;
  }

footer {
  border-radius: 5px;
  text-align: center;
direction:ltr;
  padding-top: 15px;
 padding-bottom: 15px;
 color: #fff;
  background-color: #252525;
}

.footer-logos img {
  width: 60px;
 padding: 10px;
  border-radius: 50%;
  opacity: .9;
}
.footer-text {


  font-size: 10px;
  opacity: .8;
}


